.contact {
    min-height: 80vh;
    padding: 150px 20px 0 20px;
    text-align: center;
    margin: 0 auto;
}

.cont {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    margin: 50px auto 150px 0;
    color: #333;
}

.map {
    border-radius: 10px;
    padding: 20px 0 0 0;
    margin: 0 auto;
}

.map iframe {
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.105);
  min-width: 700px;
  width: 100%;
}

.info {
    text-align: left;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 105px 50px;
    border-radius: 10px;
    border: 1px solid rgb(221, 221, 221);
    margin:  0 auto;
}

.info p,
.info a {
    color: #333;
    font-size: 18px;
}

.location,
.number,
.mail {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0 30px 0;

}

.media {
    width: 100%;
    text-align: center;
}

.media-icons {
    border-top: 2px solid #333;
    padding: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
}
.media-icons a{
    font-size: 20px;
}

@media screen and (max-width:1300px) {
    .info {
        padding: 100px 20px;
    }

    .map iframe {
        width: 450px;
    }
    .map iframe {
min-width: 100%;
    }
}

@media screen and (max-width:920px) {
    .cont {
        display: block;
        justify-content: space-evenly;
        align-items: center;
        margin: 50px auto;
    }
    .map iframe{
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.205);
      width: 100%;
    }
    .contact {
        min-height: 80vh;
        padding: 100px 10px 0 10px;
        text-align: center;
    }
    .info p,
    a {
        color: #333;
        font-size: 15px;
    }
  
}