@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

/*NAV BAR AREA -----------*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.833);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.178);
    padding: 0px 100px;
    z-index: 3;
    backdrop-filter: blur(10px);
    /* height: 80px; */
}

nav .menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav .menu ul li {
    margin: 0 25px;
    color: black;
    padding: 30px 0;

    transition: color .5s;

}

.active {
    border-bottom: 3px solid rgb(0, 209, 139)
}

nav .menu ul a:hover li {


    transition: color .5s;
    border-bottom: 3px solid rgb(2, 216, 145)
}

/*sideMENU */
.side {
    display: none;
    width: 100%;
}


.toggleSideMenu {
    color: rgb(3, 173, 119);
    position: fixed;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.284));
    top: 10px;
    left: 10px;
    font-size: 20px;
    cursor: pointer;
    display: none;
}
.side-menu-media {
    padding: 20px 0;
    border-top: 1px solid lightgray;
    display: flex;
    justify-content: space-evenly;
    font-size: 24px;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    
  }
  .side-menu-media a{
    color: #333;
  }





/*FOOTER -----------*/
footer {
    padding: 30px 0;
    justify-content: space-around;
    align-content: center;
    background-color: rgb(20, 20, 20);
    color: #f4f4f4;
    display: flex;
}

footer a {
    color: #f4f4f4;
    text-decoration: underline;
}

footer .footer-media i {
    font-size: 25px;
    margin: 10px 10px 0 0;
}

@media screen and (max-width:1000px) {
    nav {
        display: none;

    }

    .toggleSideMenu {
        display: block;
        z-index: 6;
    }

    .side {
        display: block;
        padding: 80px 0;
        height: 100vh;
        width: 100%;
        overflow: hidden;
        background-color: #f4f4f4;
        z-index: 5;
        text-align: center;
        position: fixed;
        transition: .5s;
        top: 0;
        left: -100%;
    }

    .side .menu ul li {
        text-decoration: none;
        margin: 30px auto;
        color: #333;
    }


    footer {
        font-size: 80%;
        padding: 40px 15px;
    }

    .footer {
        font-size: 70%;
        display: block;
    }
}